extends layout

block content
    h1 Música com id: #{musica.id}
    p 
        b Identificador: 
        span= musica.id
    p
        b Nome: 
        span= musica.tit
    p 
        b Artista: 
        span=musica.musico
    p 
        b  Tipo do ficheiro: 
            span=musica.fileType
    p 
        b  Duração da música: 
            span=musica.duracao
    p 
        b Provincia: 
        a(href=`/musicas/prov/${musica.prov}`)= musica.prov? musica.prov : "Inexistente"

    hr 
    adress 
        a(href="/musicas") Voltar à lista    