extends layout

block content



    center
        h1  Notícias 
        .w3-round-large.w3-blue-grey(style='width:95%;')
            .w3-container
                ul.w3-ul
                    each n in noticias
                        if n.visibilidade
                            if n.idAutor == id
                                if n.recurso.estado == 'Novo'
                                    - var acao = 'Adicionaste'
                                else if n.recurso.estado == 'Atualizado'
                                    - var acao = 'Editaste'
                                else if n.recurso.estado == 'Apagado'
                                    - var acao = 'Apagaste'
                                else if n.recurso.estado == 'Comentado'
                                    - var acao = 'Comentaste'
                                else if n.recurso.estado == 'Classificado'
                                    - var acao = 'Classificaste'
                                li
                                    p(style='display: inline')=` ${acao} o recurso ${n.recurso.titulo}`
                            else
                                if n.recurso.estado == 'Novo'
                                    - var acao = 'adicionou'
                                else if n.recurso.estado == 'Atualizado'
                                    - var acao = 'editou'
                                else if n.recurso.estado == 'Apagado'
                                    - var acao = 'apagou'
                                else if n.recurso.estado == 'Comentado'
                                    - var acao = 'comentou'
                                else if n.recurso.estado == 'Classificado'
                                    - var acao = 'classificou'
                                li
                                    p(style='display: inline') O utilizador 
                                    a(style='display: inline' href="/perfil/"+n.idAutor)= n.nomeAutor
                                    p(style='display: inline')=` ${acao} o recurso ${n.recurso.titulo}`
