extends layout

block content
    #display.modal(style="display: none; overflow: hidden; height: auto")
    div(id="edit_profile_modal" class="w3-modal" style="display: none") 
    .w3-container(style='background-image: url("https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Colorful-Circle-Simple-Background-Image-1.jpg")')
        .w3-bar-item(style="margin:10px")
            span.w3-xxlarge 
                b.w3-text-white #{user.username}
            br
            div.w3-text-white.w3-large
                span.w3-text-teal Filiação:
                div(class="w3-col w3-text-teal", style="width: 30px")
                    i(class="w3-xlarge fa fa-building-o")
                span  #{user.filiacao}, #{user.estatuto}
                br
                p
                span.w3-text-teal Email:
                div(class="w3-col w3-text-teal", style="width: 30px")
                    i(class="w3-xlarge fa fa-envelope-o")
                span  #{user.email}
                br
                p

                if user.descricao
                    span.w3-text-teal Descrição:
                    div(class="w3-col w3-text-teal", style="width: 30px")
                        i(class="w3-xlarge fa fa-file-o")
                    span  #{user.descricao}
                    br
                    p
                if dono
                    a.w3-btn.w3-teal.w3-round-large.w3-small(href='#' onclick='editForm(' +'\'' + JSON.stringify(user) +'\'' + ');') Editar Perfil
                    |  
                    | &nbsp; 
                    |  
                    if nivel=="admin"
                      |  
                      | &nbsp; 
                      |  
                      a.w3-btn.w3-red.w3-round-large.w3-small(onclick='deleteUser(' +'\'' + user._id +'\'' + ');') Bloquear Acesso

    - var left = true
    .timeline
        each n in noticias
            if left==true
                .container.left
                    .content
                        h3= n.data.replace('T',' ')
                        if n.recurso.estado == 'Novo'
                            p= `Adicionou o recurso ${n.recurso.titulo}`
                        else if n.recurso.estado == 'Comentado'
                            p= `Comentou o recurso ${n.recurso.titulo}`
                        else if n.recurso.estado == 'Classificado'
                            p= `Classificou o recurso ${n.recurso.titulo}`
                        else if n.recurso.estado == 'Atualizado'
                            p= `Editou o recurso ${n.recurso.titulo}`
            else
                .container.right
                    .content
                        h3= n.data.replace('T',' ')
                        if n.recurso.estado == 'Novo'
                            p= `Adicionou o recurso ${n.recurso.titulo}`
                        else if n.recurso.estado == 'Comentado'
                            p= `Comentou o recurso ${n.recurso.titulo}`
                        else if n.recurso.estado == 'Classificado'
                            p= `Classificou o recurso ${n.recurso.titulo}`
                        else if n.recurso.estado == 'Atualizado'
                            p= `Editou o recurso ${n.recurso.titulo}`

            - left = !left

    